{% raw %}{% load staticfiles i18n {% endraw %}{% if cookiecutter.use_compressor == "y" %}compress{% endif %}{% raw %}%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    {% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% compress css %}{% endraw %}{% endif %}{% raw %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/pages/base.css' %}" rel="stylesheet">
    {% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% endcompress %}{% endraw %}{% endif %}{% raw %}
    {% endblock %}

</head>

<body>

<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="user-menu-container">
            <ul class="user-menu">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item">
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="container">
    {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"><p>{{ message }}</p></div>
          {% endfor %}
      {% endif %}
    {% block content %}{% endblock content %}
</div> <!-- /container -->

<div id="loading-spinner">
    <i class="fa fa-spinner fa-pulse"></i>
</div>

{% block modal %}{% endblock modal %}

<!-- JS Placed at the end of the document so the pages load faster -->
{% block javascript %}
    {% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% compress js %}{% endraw %}{% endif %}{% raw %}
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/vendor/lodash.min.js' %}"></script>
    <script src="{% static 'js/vendor/class.js' %}"></script>
    <script src="{% static 'js/pages/common.js' %}"></script>
    <script src="{% static 'js/views/base_view.js' %}"></script>
    <script src="{% static 'js/pages/base.js' %}"></script>
    <script type="text/javascript">
        {% endraw %}{{ cookiecutter.js_namespace }}{% raw %}.Base.init();
    </script>
    {% endraw %}{% if cookiecutter.use_compressor == "y" %}{% raw %}{% endcompress %}{% endraw %}{% endif %}{% raw %}
    {% endraw %}
    {% raw %}
{% endblock javascript %}
</body>
</html>
{% endraw %}
